<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="example.css">
    <head> 
    <title>Cosmelog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <%= yield %>
<!-- header -->
  <header>
  	<h1 class="headline">
      <a>cosme log</a>
    </h1>
     <div class="nav_list">
      <div class="nav_listitem">
      </div>
      <%= link_to "ログイン", class: :nav_listitem %>
      <%= link_to "新規登録", class: :nav_listitem %>
    </div>
  </header>
<!-- サイトの中身部分 -->
<!-- footer -->
  <footer>
    <ul class="footer-menu">
    </ul>
    <p>© All rights reserved by nana ilegami </p>
  </footer>
</body>
</html>
